.App {
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  background-color: #282c34; 
  color: white;              
}

h1 {
  font-family: sans-serif;
  color: #61dafb; 
  border: 2px solid #61dafb;
  padding: 20px;
  border-radius: 10px;
}