@import "tailwindcss";

@theme {
  --color-bg-app: #f3f4f6;  
  --color-bg-card: #ffffff;
  --color-text-primary: #111827; 
  --color-text-muted: #6b7280;   
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg-app);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
